@import "./mixin";

  
.fullpage-slide {
 
  &.about-slide1 {
    padding:0;
    .title1{
      text-align: center;
      width: 40vw;
      margin: 0 auto;
      padding-top:16vh;
    }
    .txt-con{
      text-align: center;
      width: 40vw;
      margin: 2vh auto 0;
    }
    .title2 {
      margin-top: 5vh;
    }
    .aws-wrap{
      background: #FFFFFFB2;
      margin-top:4vh;
      width: 100%;
      height: 52vh;
      text-align: center;
      .aws-img{
        position: relative;
        display: inline-block;
        background-image: url("../../public/images/about-aws.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 900px;
        height: 40vh;
        .aws-list{
          position: absolute;
          font-size:1.8rem;
          line-height: 160%;
          text-align: left;
          li{
            list-style-type : square;
            &::marker{
              color:$primary-color;
            }
          }
          &:first-child{
            bottom:0vh;
            left:3vw;
          }
          &:last-child{
            bottom:0vh;
            right:0vw;
          }
        }
      }
    }
    background-image: url("../../public/images/about-bg-1.png");
  }
  &.about-slide2 {
    .title1{
      text-align: center;
      margin: 0 auto;
    }
    .txt-con{
      text-align: center;
      width: 50vw;
      margin: 2vh auto 0;
    }
    .about-wrap{
      display: flex;
      margin: 4vh auto 8vh;
      .box{
        margin-right:40px;
        flex:1;
        background-color: #F4F4F4;
        padding:2.4rem;
        text-align: center;
        h2{
          font-size: 2rem;
          font-weight: 700;
          padding-bottom: 2.4rem;
        }
        p{
          color:#666666;
          font-size: 1.6rem;
          line-height: 160%;
        }
        &:last-child{
          margin:0;
        }
      }
    }
    
  }
  
}
@include desktop-md {
  .fullpage-slide {
    .title1 {
      font-size: 3.6rem;
    }
    .title2 {
      font-size: 2.8rem;
    }
    .txt-con {
      font-size: 1.8rem;
    }
  }
}
@include desktop-sm {
  .fullpage-slide {
    &.main-slide2 {
      .info-wrap {
        flex-direction: column;
        .info-txt,
        .info-icon {
          width: 100%;
        }
        .info-txt {
          margin-bottom: 8vh;
          .title1 {
            margin-top: 0vh;
          }
        }
      }
    }
    &.main-slide3 {
      .asw-wrap {
        .asw-img {
          width: 80vw;
        }
      }
      .txt-wrap {
        flex-direction: column;
        align-items: flex-start;
        p {
          margin: 0;
        }
      }
    }
    &.main-slide4 {
      .contact {
        p {
          font-size: 2rem;
        }
      }
    }
  }
}
@include tablet {


  .fullpage-slide {
    .title1 {
      font-size: 4rem;
    }
    .title2 {
      font-size: 3.2rem;
    }
    .txt-con {
      font-size: 1.8rem;
    }
    &.main-slide1{
      .title1{
        width: 70vw;
      }
      .txt-con{
        width: 70vw;
      }
    }
  }
}
@include mobile {
  .fullpage-slide {
    .title1 {
      font-size: 2.8rem;
    }
    .title2 {
      font-size: 2rem;
    }
    .txt-con {
      font-size: 1.6rem;
    }
    &.main-slide1{
      .title2{
        margin-top:20vh;
      }
      .title1,.txt-con{
        text-shadow: 4px 4px 5px rgba(255, 255, 255, 0.3);
      }
      background-image: url("../../public/images/m-main-bg-1.png");
    }
    &.main-slide2 {
      background-image: url("../../public/images/m-main-bg-2.png");
      .info-wrap {
        .info-icon {
          .circle {
            .icon {
              width: 28vw;
              height: 28vw;
              &::before {
                width: 10vw;
                height: 10vw;
                background-size: 100%;
              }
              p {
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
    &.main-slide4 {
      .title-wrap {
        .btn-more {
          padding: 0.4rem 1.6rem;
        }
      }
      .contact {
        flex-direction: column;
        text-align: center;
        button {
          margin-top: 1.6rem;
        }
      }
    }
  }

}
