@import "./mixin";

.fullpage-slide {
  &.business-slide1 {
    padding: 0 5vw;
    .title1 {
      text-align: left;
      width: 90vw;
      padding-top: 16vh;
    }
    .txt-con {
      text-align: left;
      width: 40vw;
      padding-bottom: 4vh;
    }
    .start-btn {
      border: 0;
      font-weight: bold;
      font-size: 2rem;
      padding-bottom: 8vh;
      background: none;
      &::after {
        content: "";
        background-image: url("../../public/images/btn-arrow-right.svg");
        background-size: 100%;
        width: 28px;
        height: 28px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        margin-left: 4px;
      }
    }
    .title2 {
      margin-top: 5vh;
    }
    .slick-list {
      .slick-arrow {
        display: none;
      }
      .slick-track {
        background-image: url("../../public/images/business-ic-bg.svg");
        background-position: 0%;
        background-repeat: no-repeat;
      }
      .slick-slide {
        &:last-child {
          > div {
            margin-right: 0;
          }
        }
        > div {
          background: #ffffff80;
          border: 1px solid #fff;
          text-align: center;
          margin-right: 4.8rem;
          height: 320px;
          div {
            padding: 4rem 3.2rem;
          }
          h3 {
            color: $primary-color;
            font-size: 2rem;
            font-weight: bold;
          }
          img {
            margin: 2.4rem auto;
          }
          h4 {
            font-size: 2.4rem;
            font-weight: bold;
            color: #888;
            padding-bottom: 2.4rem;
          }
          p {
            font-size: 2.2rem;
          }
        }
      }
    }
    background-image: url("../../public/images/business-bg.png");
  }
  &.business-slide2 {
    .tab {
      margin: 14vh auto 0;
      display: flex;
      width: 90vw;
      li {
        flex: 1;
        padding: 2rem;
        text-align: center;
        border-bottom: 2px solid #dddddd;
        font-size: 1.8rem;
        p {
          color: #888888;
        }
        svg {
          margin-bottom: 1.6rem;
        }
        &.active {
          border-bottom: 4px solid $primary-color;
          font-weight: bolder;
          p {
            color: $primary-color;
          }
          svg {
            path {
              fill: $primary-color;
            }
          }
        }
      }
    }
    .tab-content {
      margin: 0 auto 4vh;
      padding: 4.8rem;
      display: none;
      width: 90vw;
      background-color: #f4f4f4;
      min-height: 54vh;
      &.show {
        display: block;
      }
      .title1 {
        margin-bottom: 1rem;
      }
      .service-wrap {
        margin-top: 5vh;
        align-items: center;
        min-height: 25vh;
        overflow: hidden;
        .service {
          display: flex;
          float: left;
          margin-right: 4vw;
          .icon {
            width: 80px;
            height: 80px;
            background-color: $primary-color;
            background-repeat: no-repeat;
            border-radius: 50%;
            background-position: center;
          }
          &:nth-child(1) {
            .icon {
              background-image: url("../../public/images/business-activities.png");
            }
          }
          &:nth-child(2) {
            .icon {
              background-image: url("../../public/images/business-participants.png");
            }
          }
          &:nth-child(3) {
            margin-right: 0;
            .icon {
              background-image: url("../../public/images/business-outputs.png");
            }
          }
          .txt {
            padding-left: 1.6rem;
            max-width: 25vw;
            .txt-memo {
              text-decoration: underline;
              font-weight: bold;
              position: relative;
              color: $primary-color;
              cursor: pointer;
              .pop-memo {
                display: none;
                background-color: #fff;
                position: absolute;
                color: #666666;
                font-size: 1.6rem;
                width: 240px;
                padding: 1.4rem;
                left: 0%;
                line-height: 120%;
                z-index: 3;
                font-weight: 400;
                box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                &.memo1 {
                  top: 110%;
                }
                &.memo2 {
                  top: 110%;
                }
                &.memo3 {
                  bottom: 110%;
                }
                h4 {
                  font-weight: bold;
                  color: #111;
                  padding-bottom: 0.8rem;
                }
                &.show {
                  display: block;
                }
              }
            }
            h2 {
              font-size: 2.4rem;
              color: $primary-color;
              font-weight: bold;
              padding: 0.8rem 0 1.6rem;
            }
            h3 {
              font-size: 1.8rem;
              font-weight: bold;
              padding-bottom: 0.8rem;
              line-height: 140%;
            }
            p {
              font-size: 1.6rem;
              line-height: 130%;
              padding-bottom: 1.6rem;
              color: #666666;
              line-height: 140%;
            }
          }
        }
      }
    }
  }
}
@include desktop-md {
  .fullpage-slide {
    &.business-slide2 {
      .tab-content {
        .service-wrap {
          .service:nth-child(2) {
            margin-bottom: 2.4rem;
          }
        }
      }
    }
  }
}
@include desktop-sm {
  .fullpage-slide {
    &.business-slide1 {
      .txt-con {
        width: 90vw;
      }
      .start-btn {
        padding-bottom: 2vh;
      }
    }
    &.business-slide2 {
      .tab-content {
        padding: 2.4rem;
        .service-wrap {
          .service {
            .txt {
              max-width: 32vw;
            }
          }
        }
      }
    }
  }
}
@include tablet {
  .fullpage-slide {
    &.business-slide2 {
      .tab {
        li {
          padding: 1rem;
          p {
            display: none;
          }
        }
        margin-top: 12vh;
      }
      .tab-content {
        padding: 2.4rem;
        .service-wrap {
          .service {
            width: 100%;
            &:nth-child(1) {
              margin-bottom: 2.4rem;
            }
            .txt {
              max-width: 60vw;
              h2 {
                font-size: 1.8rem;
                padding: 1.6rem 0 0.8rem;
              }
              h3 {
                font-size: 1.6rem;
              }
              p {
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
}
@include mobile {
  .fullpage-slide {
    &.business-slide2 {
      .tab-content {
        .service-wrap {
          .service {
            .txt {
              .pop-memo {
                &.memo1 {
                  left: -120px;
                }
                &.memo2 {
                  left: -100px;
                }
                &.memo3 {
                  left: -100px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@include mobile-sm {
  .fullpage-slide {
    &.business-slide2 {
      .tab-content {
        .service-wrap {
          .service {
            flex-direction: column;
            .txt {
              max-width: 100%;
              padding-left: 0rem;
              .pop-memo {
                &.memo1 {
                  left: -120px;
                }
                &.memo2 {
                  left: -200px;
                }
                &.memo3 {
                  left: -220px;
                }
              }
            }
          }
        }
      }
    }
  }
}
