@import "./mixin";

.fullpage-slide {
  &.mobile {
    display: none;
  }
  &.business-slide1 {
    .title1 {
      text-align: left;
      padding-left: 5%;
      width: 90vw;
      padding-top: 16vh;
    }
    .txt-con {
      padding-left: 5%;
      text-align: left;
      width: 40vw;
      padding-bottom: 4vh;
    }
    .start-btn {
      padding-left: 5%;
      border: 0;
      font-weight: bold;
      font-size: 2rem;
      padding-bottom: 8vh;
      background: none;
      &::after {
        content: "";
        background-image: url("../../public/images/btn-arrow-right.svg");
        background-size: 100%;
        width: 28px;
        height: 28px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        margin-left: 4px;
      }
    }
    .title2 {
      margin-top: 5vh;
    }
    .slick-slider {
      margin-left: 5%;
      width: 95%;
      overflow: hidden;

      .slick-arrow {
        display: none;
      }
    }
    .slick-list {
      margin: 0 -40px;
      .slick-track {
        background-image: url("../../public/images/business-ic-bg.svg");
        background-position: 0%;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      .slick-slide {
        > div {
          text-align: center;
          padding: 0 40px;
          div {
            background: #ffffff80;
            border: 1px solid #fff;
            padding: 4rem 3.2rem;
            height: 320px;
          }
          h3 {
            color: $primary-color;
            font-size: 2rem;
            font-weight: bold;
          }
          img {
            margin: 2.4rem auto;
          }
          h4 {
            font-size: 2.4rem;
            font-weight: bold;
            color: #888;
            padding-bottom: 2.4rem;
          }
          p {
            font-size: 2.2rem;
          }
        }
      }
    }
    background-image: url("../../public/images/business-bg.png");
  }
  &.business-slide2 {
    position: relative;
    .tab {
      padding-top: 14vh;
      margin: 0 auto;
      display: flex;
      width: 90vw;
      li {
        flex: 1;
        padding: 2rem;
        text-align: center;
        border-bottom: 2px solid #dddddd;
        font-size: 1.8rem;
        p {
          color: #888888;
        }
        svg {
          margin-bottom: 1.6rem;
        }
        &.active {
          border-bottom: 4px solid $primary-color;
          font-weight: bolder;
          p {
            color: $primary-color;
          }
          svg {
            path {
              fill: $primary-color;
            }
          }
        }
      }
    }
  }
  .tab-content {
    margin: 0 auto;
    padding: 4.8rem;
    display: none;
    width: 90vw;
    background-color: #f4f4f4;
    min-height: 54vh;
    &.show {
      display: block;
    }
    .title1 {
      margin-bottom: 1rem;
    }
    .service-wrap {
      margin-top: 5vh;
      align-items: center;
      min-height: 25vh;
      .service {
        display: flex;
        flex-wrap: wrap;
        float: left;
        margin-right: 4vw;
        .icon {
          width: 80px;
          height: 80px;
          background-color: $primary-color;
          background-repeat: no-repeat;
          border-radius: 50%;
          background-position: center;
          &.icon1 {
            background-image: url("../../public/images/business-activities.png");
          }
          &.icon2 {
            background-image: url("../../public/images/business-participants.png");
          }
          &.icon3 {
            background-image: url("../../public/images/business-outputs.png");
          }
        }

        .txt {
          padding-left: 1.6rem;
          max-width: 25vw;
          .txt-memo {
            text-decoration: underline;
            font-weight: bold;
            position: relative;
            color: $primary-color;
            cursor: pointer;
            .pop-memo {
              display: none;
              background-color: #fff;
              position: absolute;
              color: #666666;
              font-size: 1.6rem;
              width: 240px;
              padding: 1.4rem;
              left: 0%;
              line-height: 120%;
              z-index: 3;
              font-weight: 400;
              box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
              border-radius: 4px;
              &.memo1 {
                top: 110%;
              }
              &.memo2 {
                top: 110%;
              }
              &.memo3 {
                bottom: 110%;
                left:-200px;
              }
              h4 {
                font-weight: bold;
                color: #111;
                padding-bottom: 0.8rem;
              }
              &.show {
                display: block;
              }
            }
          }
          h2 {
            font-size: 2.4rem;
            color: $primary-color;
            font-weight: bold;
            padding: 0.8rem 0 1.6rem;
          }
          h3 {
            font-size: 1.8rem;
            font-weight: bold;
            padding-bottom: 0.8rem;
            line-height: 140%;
          }
          p {
            font-size: 1.6rem;
            line-height: 130%;
            padding-bottom: 1.6rem;
            color: #666666;
            line-height: 140%;
          }
        }
      }
    }
  }
}
@include desktop-md {
  .fullpage-slide {
    .tab-content {
      .service-wrap {
        .service:nth-child(2) {
          margin-bottom: 2.4rem;
        }
        .service {
          .txt {
            .txt-memo {
              .pop-memo {
                &.memo3 {
                  bottom: 115%;
                  top: -100px;
                }
              }
            }
          }
            
        }
      }
    }
  }
}
@include desktop-sm {
  .fullpage-slide {
    &.business-slide1 {
      .txt-con {
        width: 90vw;
      }
      .start-btn {
        padding-bottom: 2vh;
      }
    }
    .tab-content {
      padding: 2.4rem;
      .service-wrap {
        .service {
          .txt {
            max-width: 32vw;
            .txt-memo {
              .pop-memo {
                &.memo3 {
                  bottom: 110%;
                  top: -100px;
                }
              }
            }
          }
            
        }
      }
    }
  }
}
@include tablet {
  .fullpage-slide {
    .tab {
      li {
        padding: 1rem;
        p {
          display: none;
        }
      }
    }
    .tab-content {
      padding: 2.4rem;
      .service-wrap {
        .service {
          width: 100%;
          &:nth-child(1) {
            margin-bottom: 2.4rem;
          }
          .txt {
            max-width: 60vw;
            h2 {
              font-size: 1.8rem;
              padding: 1.6rem 0 0.8rem;
            }
            h3 {
              font-size: 1.6rem;
            }
            p {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
@include mobile {
  .fullpage-slide {
    &.mobile {
      display: block;
    }

    .tab-content {
      padding: 2rem;
      .service-wrap {
        .service {
          flex-direction: column;
          .icon {
            width: 70px;
            height: 70px;
            background-size: 70%;
          }
          .txt {
            max-width: 80vw !important;
            padding-left: 0;
            .pop-memo {
              &.memo1 {
                left: -0px;
              }
              &.memo2 {
                left: -180px;
              }
              &.memo4 {
                left: -100px;
                bottom:110%
              }
            }
          }
        }
      }
    }
    &.business-slide2 {
      .tab {
        li {
          padding: 0.8rem;
          svg {
            width: 40px;
          }
        }
      }
      .footer {
        display: none;
      }
      .tab-content {
        &.tct1,
        &.tct2 {
          .service {
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              display: none;
            }
          }
        }
        &.tct3,
        &.tct4,
        &.tct5 {
          .service {
            &:nth-child(3) {
              display: none;
            }
          }
        }
      }
    }
    &.business-slide3 {
      padding-top: 14vh;
      position: relative;
    }
  }
}
@include mobile-sm {
  .fullpage-slide {
    .tab-content {
      .service-wrap {
        .service {
          flex-direction: column;
          .txt {
            max-width: 100%;
            padding-left: 0rem;
            .pop-memo {
              &.memo1 {
                left: -60px;
              }
              &.memo2 {
                left: -80px;
              }
              &.memo4 {
                left: -120px;
              }
            }
          }
        }
      }
    }
  }
}
