@import "./mixin";

.case-detail {
  position: relative;
  padding-bottom: 30vh;
  .case-top{
    &.detail1{
      background-image: url('../../public/images/case_detail_bg1.png');
    }
    &.detail2{
      background-image: url('../../public/images/case_detail_bg2.png');
    }
    &.detail3{
      background-image: url('../../public/images/case_detail_bg3.png');
    }
    &.detail4{
      background-image: url('../../public/images/case_detail_bg4.png');
    }
    
    background-repeat: no-repeat;
    min-height: 300px;
    padding-top:calc(6vh + 100px);
    color:#fff;
    text-align: center;
    .tit{
      font-weight: 600;
      span{
        font-size: 3.2rem;
        color:#BBB9BA;
        &::after{
          content: "|";
          padding:0 .8rem;
          font-weight: 400;
        }
      }
      h2{
        display: inline-block;
        font-size: 3.2rem;
        padding-right: 1.6rem;
      }
      h1{
        display: inline-block;
        font-size: 4rem;
      }
    }
    .sub-tit{
      padding-top:4rem;
      padding-bottom:6rem;
      font-size: 3.2rem;
      font-weight: 400;
      color: #DDDDDD;
      b{
        font-weight: 800;
        color:#fff;
      }
      &::before{
        content: '';
        background: url('../../public/images/ic_qmark_1.svg');
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-right: 24px;
      }
      &::after{
        content: '';
        background: url('../../public/images/ic_qmark_2.svg');
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-left: 24px;
      }
    }
  }
  .case-list{
    width: 90vw;
    margin:0 auto;    
    position: relative;
    .end-box{
      position: absolute;
      left:calc(50% - 50px);
      bottom:-10%;
      padding:8px;
      border-radius: 8px;
      background-color: #bb0841;
      color:#fff;
      width: 100px;
      font-size: 1.8rem;
      text-align: center;
    }
    &::before{
      content: '';
      position: absolute;
      background: #ccc;
      width: 1px;
      height: 110%;
      left: 50%;
      top: 0;
    }
    .right{
      width: 100%;
      box-sizing: border-box;
      text-align: right;  
      dl{
        position: relative;
        display: inline-block;
        width: calc(50% + 4px);
        box-sizing: border-box;
        clear: both;
        margin-top: 24px;
        text-align: left;
        padding-left: 50px;
        dt{
          display: inline-flex;
          align-items: center;
          font-size: 2.4rem;
          font-weight: 700;
          color:#111;
          position: relative;
          img{
            padding-right:1.6rem;
          }
          .case-down{
            position: absolute;
            top:100%;
            left:-16px;
          }
          &::before{
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            background: #bb0841;
            border-radius: 50%;
            left: -50px;
            top: 50%;
          }
          &::after {
            content: '';
            position: absolute;
            width: 36px;
            height: 1px;
            background: #cccccc;
            border-radius: 50%;
            left: -42px;
            top: calc(50% + 4px); 
            
         }
        }
        dd{
          font-size: 24px;
          line-height: 30px;
          font-weight: 800;
          position: relative;
          display: inline-block;
          padding-left: 32px;
          > img{
            margin-top:-120px;
          }
        }
      }
    }
    .left{
      width: 100%;
      box-sizing: border-box;
      text-align: left;
      dl{
        position: relative;
        display: inline-block;
        width: calc(50% + 4px);
        box-sizing: border-box;
        clear: both;
        margin-top: 24px;
        text-align: right;
        padding-right: 50px;
        dt{
          display: inline-flex;
          align-items: center;
          font-size: 2.4rem;
          font-weight: 700;
          color:#111;
          position: relative;
          img{
            padding-left:1.6rem;
          }
          .case-down{
            position: absolute;
            top:100%;
            right:-16px;
          }
          &::before{
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            background: #bb0841;
            border-radius: 50%;
            right: -50px;
            top: 50%;
          }
          &::after {
            content: '';
            position: absolute;
            width: 36px;
            height: 1px;
            background: #cccccc;
            border-radius: 50%;
            right: -42px;
            top: calc(50% + 4px);
         }
        }
        dd{
          display: inline-flex;
          padding-right:3.2rem;
          font-size: 24px;
          line-height: 30px;
          font-weight: 800;
          text-align: left;
        }
      }
    }
    .detail1_1{
      dt{
        vertical-align: middle;
      }
      dd{
        vertical-align: middle;
      }
    }
    .detail2_1{
      height: 200px;
      dt{
        vertical-align: top;
      }
      dd{
        vertical-align: top;
        .ct-box{
          margin-top: 0px;
        }
      }
    }
    .detail2_2{
      dt{
        vertical-align: middle;
      }
      dd{
        vertical-align: middle;
        .ct-box{
          margin-top: 0px;
        }
      }
    }
    .detail2_3{
      dt{
        vertical-align: top;
      }
      dd{
        vertical-align: top;
        .ct-box{
          margin-top: 0px;
          .flex-wrap{
            padding-left: 24px;
            display: flex;
            align-items: center;
            img{
              display: block;
              padding:0;
              width: 80px;
              height: 80px;
            }
            ul{
              padding-left: 24px;
            }
          }
        }
      }
    }
    .detail3_1{
      dt{
        vertical-align: top;
      }
      dd{
        vertical-align: top;
        .ct-box{
          margin-top: 0px;
          text-align: center;
          h3{
            text-align: left;
          }
          img{
            padding:24px;
          }
        }
      }
    }
    .detail3_2{
      margin-top: -200px !important;
      dt{
        vertical-align: middle;
      }
      dd{
        vertical-align: middle;
      }
    }
    .detail3_3{
      dt{
        vertical-align: top;
      }
      dd{
        vertical-align: top;
        .ct-box{
          margin-top:16px;
          width: 480px;
        }
      }
    }
    .detail3_4{
      margin-top: -100px !important;
    }
    .detail4_2{
      height: 200px;
      dt{
        vertical-align: middle;
      }
      dd{
        vertical-align: middle;
        img{
          width: 360px;
        }
      }
    }
    .detail4_3{
      dt{
        vertical-align: middle;
      }
      dd{
        vertical-align: middle;
        .ct-box{
          margin-top: 0;
        }
      }
    }
    .ct-list{
      ul{
        li{
          border: 2px solid #BB084180;
          box-sizing: border-box;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
          border-radius: 8px;
          margin: 8px;          
          font-size: 24px;
          text-align: center;
          line-height: 36px;
          padding:8px 16px;
          color:#BB0841;
        }
      }
    }

    .ct-box{
      background-color: #F4F4F4;
      margin-top:-400px;
      width: 400px;
      border-radius: 16px;
      
      h3{
        font-size: 2.4rem;
        padding:24px 24px 8px;
        color:#bb0841;
        border-bottom: 1px solid #DDDDDD;
      }
      img{
        padding:4px 16px;
      }
      ul{
        padding:8px 24px 24px;
        padding-left: 32px;
        li{
          font-size: 1.6rem;
          font-weight: 500;
          list-style: square;
          &::marker{
            color: #bb0841;
          }
        }
      }
    }
  }
}

@include desktop-md {
 
}
@include desktop-sm {
}
@include tablet {
}
@include mobile {

}
@include mobile-sm {
}
