@import "./mixin";

.case-detail {
  position: relative;
  padding-bottom: 20vh;
  .case-top{
    &.detail1{
      background-image: url('../../public/images/case_detail_bg1.png');
    }
    &.detail2{
      background-image: url('../../public/images/case_detail_bg2.png');
    }
    &.detail3{
      background-image: url('../../public/images/case_detail_bg3.png');
    }
    &.detail4{
      background-image: url('../../public/images/case_detail_bg4.png');
    }
    background-size:cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding-top:calc(6vh + 100px);
    color:#fff;
    text-align: center;
    .tit{
      font-weight: 600;
      width: 90vw;
      margin:0 auto;
      span{
        font-size: 3.2rem;
        color:#BBB9BA;
        &::after{
          content: "|";
          padding:0 .8rem;
          font-weight: 400;
        }
      }
      h2{
        display: inline-block;
        font-size: 3.2rem;
        padding-right: 1.6rem;
      }
      h1{
        display: inline-block;
        font-size: 4rem;
      }
    }
    .sub-tit{
      padding-top:4rem;
      width: 90vw;
      margin:0 auto;
      padding-bottom:6vh;
      line-height: 160%;
      font-size: 3.2rem;
      font-weight: 400;
      color: #DDDDDD;
      b{
        font-weight: 800;
        color:#fff;
      }
      &::before{
        content: '';
        background: url('../../public/images/ic_qmark_1.svg');
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-right: 24px;
      }
      &::after{
        content: '';
        background: url('../../public/images/ic_qmark_2.svg');
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-left: 24px;
      }
    }
  }
  .case-list{
    width: 90vw;
    margin:0 auto;    
    position: relative;
    .end-box{
      position: absolute;
      left:calc(50% - 50px);
      bottom:-5%;
      padding:8px;
      border-radius: 8px;
      background-color: #bb0841;
      color:#fff;
      width: 100px;
      font-size: 1.8rem;
      text-align: center;
    }
    &::before{
      content: '';
      position: absolute;
      background: #ccc;
      width: 1px;
      height: 105%;
      left: 50%;
      top: 0;
    }
    .right{
      width: 100%;
      box-sizing: border-box;
      text-align: right;  
      dl{
        position: relative;
        display: inline-block;
        width: calc(50% + 4px);
        box-sizing: border-box;
        clear: both;
        margin-top: 24px;
        text-align: left;
        padding-left: 50px;
        dt{
          display: inline-flex;
          align-items: center;
          font-size: 2.4rem;
          font-weight: 700;
          color:#111;
          position: relative;
          .case-icon{
            padding-right:1.6rem;
          }
          .case-down{
            position: absolute;
            top:100%;
            left:-24px;
          }
          &::before{
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            background: #bb0841;
            border-radius: 50%;
            left: -50px;
            top: 50%;
          }
          &::after {
            content: '';
            position: absolute;
            width: 36px;
            height: 1px;
            background: #cccccc;
            border-radius: 50%;
            left: -42px;
            top: calc(50% + 4px); 
            
         }
        }
        dd{
          font-size: 24px;
          line-height: 30px;
          font-weight: 800;
          position: relative;
          display: block;
          padding-left: 3.2rem;
          > img{
            margin-top:-120px;
            
          }
        }
      }
    }
    .left{
      width: 100%;
      box-sizing: border-box;
      text-align: left;
      dl{
        position: relative;
        display: inline-block;
        width: calc(50% + 4px);
        box-sizing: border-box;
        clear: both;
        margin-top: 24px;
        text-align: right;
        padding-right: 50px;
        dt{
          display: inline-flex;
          align-items: center;
          font-size: 2.4rem;
          font-weight: 700;
          color:#111;
          position: relative;
          .case-icon{
            padding-left:1.6rem;
          }
          .case-down{
            position: absolute;
            top:100%;
            right:-24px;
          }
          &::before{
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            background: #bb0841;
            border-radius: 50%;
            right: -50px;
            top: 50%;
          }
          &::after {
            content: '';
            position: absolute;
            width: 36px;
            height: 1px;
            background: #cccccc;
            border-radius: 50%;
            right: -42px;
            top: calc(50% + 4px);
         }
        }
        dd{           
          display: block;
          padding-right: 3.2rem;
          font-size: 24px;
          line-height: 30px;
          font-weight: 800;
          text-align: right;
          >img{
            max-width: 40vw;
          }
        }
      }
    }
    
    .detail2_3{
      dt{
        vertical-align: top;
      }
      dd{
        vertical-align: top;
        .ct-box{
          margin-top: 0px;
          .flex-wrap{
            padding-left: 24px;
            display: flex;
            align-items: center;
            img{
              display: block;
              padding:0;
              width: 80px;
              height: 80px;
            }
            ul{
              padding-left: 24px;
            }
          }
        }
      }
    }
    .detail3_3{
      dd{
        .ct-box{
          display: block;
          &:last-child{
            margin-top:16px;
          }
        }
      }
    }
    .detail4_2{
      dd{
        img{
          width: 360px;
        }
      }
    }
    .ct-list{
        
      width: 400px;
      max-width: 40vw;
      display: inline-block;
      ul{
        li{
          border: 2px solid #BB084180;
          box-sizing: border-box;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
          border-radius: 8px;
          margin: 8px;          
          font-size: 2rem;
          text-align: center;
          line-height: 36px;
          padding:8px 16px;
          color:#BB0841;
        }
      }
    }

    .ct-box{
      display: inline-block;
      background-color: #F4F4F4;
      width: 400px;
      border-radius: 16px;
      max-width: 40vw;
      text-align: left;
      h3{
        font-size: 2.4rem;
        padding:24px 24px 8px;
        color:#bb0841;
        border-bottom: 1px solid #DDDDDD;
      }
      img{
        padding:4px 16px;
        max-width: 100%;
      }
      ul{
        padding:8px 24px 24px;
        padding-left: 32px;
        li{
          font-size: 1.6rem;
          font-weight: 500;
          list-style: square;
          &::marker{
            color: #bb0841;
          }
        }
      }
    }
  }
}

@include desktop-md {
 
}
@include desktop-sm {
  
}
@include tablet {
  .case-detail{
    .case-top{
      .tit{
        h1{
          font-size: 3.2rem;
        }
        h2{
          font-size: 2.4rem;
        } 
        span{
          font-size: 2.4rem;
        } 
      }
      .sub-tit{
        font-size: 2.4rem;
      }
    }
    .case-list{
      dl{
        dt{
          font-size: 2rem;;
          .case-icon{
            width: 72px;
          }
          .case-down{
            width: 16px;
          }
        }
      }
      .ct-box{
        h3{
          font-size:2rem;
        }
      }
    } 
  }
}
@include mobile {
  .case-detail{
    .case-list{
      margin:0 auto 20%;
      .detail2_3{
        dd{
          .ct-box{
            .flex-wrap{
              flex-direction: column;
              align-items: baseline;
              padding-left: 8px;
              img{
                margin-top: 16px;
              }
              ul{
                padding:16px 0 0  24px;
              }
            }
          }
        }
      }   
    }
    .case-top{
      padding-top:calc(6vh + 60px);
      .tit{
        h1{
          font-size: 2.8rem;
          padding-top:1.6rem;
        }
        h2{
          font-size: 2rem;
        } 
        span{
          font-size: 2rem;
        } 
      }
      .sub-tit{
        padding-top: 2.8rem;
        font-size: 2rem;
        &::after,
        &::before{
          display: none;
        }
      }
    }
    .case-list{
      .end-box {
        left: 0;
      }
      &::before{
        left:5vw;
      }
      .right {
        dl {
          width: 95%;
          padding-left: 50px;
          dt{
            font-size: 2rem;
            .case-icon{
              padding-right: 0.8rem;
              width: 56px;
            }
            .case-down{
              top: 50%;
              left: -76px;
            }
          }
          dd{
            padding-left:0;
          }
        } 
      }
      .left{
        text-align: right;
        dl{
          width: 95%;
          text-align: left;
          padding-right: 00px;
          padding-left: 50px;
          dt{
            font-size: 2rem;        
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            .case-icon {
              padding-left: 0;
              width: 56px;
              padding-right: .8rem;
            }
            &::before {
              left: -50px;
              top: 50%;
            }
            &::after {
              left: -42px;
              top: calc(50% + 4px);
            }
            .case-down{
              top: 50%;
              left: -76px;
            }
          }
          dd{
            width: 100%;
            text-align: left;
            padding-right: 0px;
            > img {
              max-width: 100%;
            }
           
          }
        }
      }
      .ct-box{
        width: auto;
        max-width: 100%;
      }
      .ct-list{
        max-width: 100%;
        ul{
          li {
            border-radius: 8px;
            margin: 8px;
            font-size: 1.6rem;
            text-align: center;
            line-height: 24px;
            padding: 8px 16px;
            color: #BB0841;
          }
        }
        
      }
    } 
  }
}
@include mobile-sm {
}
