@import "./mixin";

.fullpage-controls {
  position: absolute;
  bottom: 4vh;
  width: 100%;
  text-align: center;
  button {
    display: none;
  }
  button:last-child {
    display: block;
    margin: 0 auto;
    background-image: url("../../public/images/ic_screen_down.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat; /* make the background image appear only once */
    background-position: 0px 0px; /* equivalent to 'top left' */
    border: none; /* assuming we don't want any borders */
    cursor: pointer; /* make the cursor like hovering over an <a> element */
    height: 48px;
    width: 48px;
    text-indent: -999px;
    overflow: hidden;
    animation: bounce 1.5s infinite ease-in-out;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(16px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
.fullpage-slide {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  .color-primary {
    color: $primary-color;
  }
  .title1 {
    font-size: 4.4rem;
    font-weight: 800;
    line-height: 140%;
    margin-bottom: 2.4rem;
  }
  .title2 {
    font-size: 3.2rem;
    font-weight: 800;
    margin-bottom: 1.6rem;
  }
  .txt-con {
    font-size: 2.2rem;
    line-height: 140%;
  }
  &.main-slide1 {
    padding: 16vh 5vw;
    .title1 {
      width: 40vw;
    }
    .txt-con {
      width: 33vw;
    }
    .title2 {
      margin-top: 5vh;
    }
    background-image: url("../../public/images/main-bg-1.png");
  }
  &.main-slide2 {
    padding: 16vh 5vw;
    background-image: url("../../public/images/main-bg-2.png");
    .info-wrap {
      display: flex;
      .info-txt {
        width: 40%;
        color: #fff;
        .txt-con {
          color: #eeeeee;
        }
        .title1 {
          margin-top: 10vh;
          color: $primary-color;
        }
      }
      .info-icon {
        width: 60%;
        position: relative;
        .circle {
          position: absolute;
          padding: 5vw;
          border-radius: 50%;
          top: 20%;
          left: 0;
          background: #ffffff1a;
          text-align: center;
          .icon::before {
            content: "";
            display: inline-block;
            width: 80px;
            height: 80px;
          }
          &:nth-child(1) {
            .icon::before {
              background-image: url("../../public/images/main-icon2.svg");
            }
          }
          &:nth-child(2) {
            left: 30%;
            .icon::before {
              background-image: url("../../public/images/main-icon2.svg");
            }
          }
          &:nth-child(3) {
            left: 60%;
            .icon::before {
              background-image: url("../../public/images/main-icon3.svg");
            }
          }
          .icon {
            display: inline-block;
            width: 180px;
            height: 180px;
          }
          p {
            padding-top: 16px;
            font-size: 1.8rem;
            color: #fff;
            line-height: 160%;
          }
        }
      }
    }
  }
  &.main-slide3 {
    padding: 12vh 0 0 0;
    .txt-wrap {
      padding: 0 5vw;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      p {
        .aws-badge {
          text-align: right;
          margin-bottom: 2rem;
          img {
            width: 80px;
          }
        }
        margin-left: 20px;
        margin-bottom: 2.4rem;
      }
    }
    .asw-wrap {
      background-image: url("../../public/images/main-bg-3.png");
      background-size: cover;
      width: 100%;
      margin-top: 4vh;
      height: 60vh;
      text-align: center;
      .asw-img {
        display: inline-block;
        background-image: url("../../public/images/main-aws.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 900px;
        height: 60vh;
      }
    }
  }
  &.main-slide4 {
    position: relative;
    padding: 12vh 0 0 0;
    .title-wrap {
      padding: 0 5vw;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .title1 {
        margin-bottom: 0;
      }
      .btn-more {
        @include button;
        border: 1px solid #111;
        background-color: #fff;
        font-weight: bold;
        color: #111;
        &::after {
          content: "";
          display: inline-block;
          background: url("../../public/images/ic_more.svg") no-repeat;
          vertical-align: middle;
          width: 24px;
          height: 24px;
          margin-top: -2px;
          margin-left: 8px;
        }
      }
    }
    .slick-slider {
      width: 90vw;
      margin: 0 auto;
      .slick-next {
        right: 8px;
        &:before {
          content: "";
          background: url("../../public/images/ic_slider_next.svg");
          width: 48px;
          height: 48px;
          display: inline-block;
        }
      }
      .slick-prev {
        &:before {
          content: "";
          background: url("../../public/images/ic_slider_prev.svg");
          width: 48px;
          height: 48px;
          display: inline-block;
        }
      }
      .slick-slide {
        > div {
          width: 90%;
          margin: 3vh auto;
          transition: all 0.5s;
          img {
            width: 100%;
          }
          .txt-con {
            background-color: #f4f4f4;
            height: 120px;
            position: relative;
            padding: 20px;
            transition: all 0.5s;
            p {
              padding-top: 20px;
            }
            span {
              position: absolute;
              top: 0;
              right: 0;
              font-size: 1.6rem;
              background-color: #888;
              padding: 0px 20px;
              font-weight: 600;
              color: #fff;
            }
          }
        }
        &:hover {
          > div {
            box-shadow: 4px 4px 2vh 0px #0a0a0a80;
            .txt-con {
              background-color: $primary-color;
              p {
                color: #fff;
              }
              span {
                background-color: #8b052f;
              }
            }
          }
        }
      }
    }
    .contact {
      width: 90vw;
      background-color: #f4f4f4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4vh 4vw;
      margin: 0vh auto 3vh;
      p {
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 140%;
      }
      button {
        @include button;
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}
@include desktop-md {
  .fullpage-slide {
    .title1 {
      font-size: 3.6rem;
    }
    .title2 {
      font-size: 2.8rem;
    }
    .txt-con {
      font-size: 1.8rem;
    }
    .aws-badge {
      text-align: left !important;
    }
  }
}
@include desktop-sm {
  .fullpage-slide {
    &.main-slide2 {
      .info-wrap {
        flex-direction: column;
        .info-txt,
        .info-icon {
          width: 100%;
        }
        .info-txt {
          margin-bottom: 8vh;
          .title1 {
            margin-top: 0vh;
          }
        }
      }
    }
    &.main-slide3 {
      .asw-wrap {
        .asw-img {
          width: 80vw;
        }
      }
      .txt-wrap {
        flex-direction: column;
        align-items: flex-start;
        p {
          margin: 0;
        }
      }
    }
    &.main-slide4 {
      .contact {
        p {
          font-size: 2rem;
        }
      }
    }
  }
}
@include tablet {
  .fullpage-slide {
    .title1 {
      font-size: 4rem;
    }
    .title2 {
      font-size: 3.2rem;
    }
    .txt-con {
      font-size: 1.8rem;
    }
    &.main-slide1 {
      .title1 {
        width: 70vw;
      }
      .txt-con {
        width: 70vw;
      }
    }
  }
}
@include mobile {
  .fullpage-slide {
    .title1 {
      font-size: 2.8rem;
    }
    .title2 {
      font-size: 2rem;
    }
    .txt-con {
      font-size: 1.6rem;
    }
    &.main-slide1 {
      .title2 {
        margin-top: 20vh;
      }
      .title1,
      .title2,
      .txt-con {
        text-shadow: 0px 0px 4px #ffffff;
      }
      .txt-con {
        font-weight: bold;
      }
      background-image: url("../../public/images/m-main-bg-1.png");
    }
    &.main-slide2 {
      background-image: url("../../public/images/m-main-bg-2.png");
      .info-wrap {
        .info-icon {
          .circle {
            background: none;
            position: static;
            padding: 0.8rem;
            .icon {
              height: auto;
              overflow: hidden;
              width: 90vw;
              &::before {
                float: left;
                width: 16vw;
                height: 16vw;
                background-size: 70%;
                background-repeat: no-repeat;
                background-position: center;
                background-color: #ffffff1a;
                border-radius: 50%;
                margin-right: 2rem;
                vertical-align: middle;
              }
              p {
                font-size: 1.6rem;
                text-align: left;
              }
            }
          }
        }
      }
    }
    &.main-slide3 {
      .asw-wrap {
        .asw-img {
          background-image: url("../../public/images/main-aws-m.svg");
          width: 90vw;
        }
      }
    }
    &.main-slide4 {
      .title-wrap {
        .btn-more {
          padding: 0.4rem 1.6rem;
        }
      }
      .slick-slider {
        width: 85vw;
        .slick-slide {
          > div {
            .txt-con {
              height: 12vh;
              padding: 0.8rem 1.6rem;
            }
          }
        }
      }
      .contact {
        flex-direction: column;
        text-align: center;
        p {
          font-size: 1.6rem;
        }
        button {
          margin-top: 1.6rem;
        }
      }
    }
  }
}
@include mobile-sm {
  .fullpage-slide {
    .title1 {
      font-size: 2rem;
    }
    .title2 {
      font-size: 1.8rem;
    }
    .txt-con {
      font-size: 1.5rem;
    }
  }
}
