@import "./variables";

@mixin button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 2.4rem;
  border: 0;
}

@mixin mobile-sm {
  @media (max-width: #{$breakpoint-mobile-sm}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}
@mixin desktop-sm {
  @media (max-width: #{$breakpoint-desktop-sm}) {
    @content;
  }
}
@mixin desktop-md {
  @media (max-width: #{$breakpoint-desktop-md}) {
    @content;
  }
}
