@import "./style/mixin";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

html {
  font-size: 10px !important;
  word-break: keep-all;
  .char-cn {
    font-family: "Noto Sans KR", sans-serif;
  }
  .App {
    font-family: "NanumSquare", sans-serif;
    color: #111;

    .m-open-menu {
      visibility: hidden;
      background: #000000cc;
      position: fixed;
      z-index: 101;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      &.show {
        visibility: visible;
        .container {
          transform: translateX(0%);
        }
      }
      .container {
        position: absolute;
        background-color: #fff;
        width: 80vw;
        height: 100%;
        right: 0;
        left: 20%;
        width: 80%;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: transform 0.3s linear;
        .top {
          display: flex;
          justify-content: space-between;
          padding: 2rem 1.6rem;
          align-items: center;
          border-bottom: 2px solid #ddd;
          .menu-close {
            background-color: #fff;
            border: 0;
            img {
              width: 1.8rem;
            }
          }
          .logo {
            img {
              width: 100px;
            }
          }
          &.show {
            display: block;
          }
        }
        ul {
          li {
            border-bottom: 1px solid #ddd;
            a {
              width: 100%;
              position: relative;
              display: inline-block;
              padding: 2rem 1.6rem;
              font-size: 1.8rem;
              font-weight: 700;
              &::after {
                position: absolute;
                right: 1.6rem;
                top: 22%;
                display: inline-block;
                width: 32px;
                height: 32px;
                background-image: url("../public/images/m-menu-go.svg");
                background-size: 100%;
                content: "";
              }
            }

            &.contact {
              a {
                padding: 1rem 1.6rem;
                button {
                  @include button;
                  background-color: #111;
                  width: 40vw;
                  font-weight: 600;
                  color: #fff;
                  &:hover {
                    background-color: #ededed;
                    color: #111;
                    font-weight: 800;
                  }
                }
              }
            }
          }
        }
        .go-btn{
          position: absolute;
          bottom: 24px;
          width: calc(100% - 48px);
          left:24px;
          color:#444;
          font-weight: 600;
          display: inline-block;
          background-color: #eee;
          font-size: 1.8rem;
          border-radius: 8px;
          padding: 8px 16px;
          border:0;
          &:hover{
            color:$primary-color;
            text-decoration: underline;
          }
          img{
            vertical-align: middle;
            padding-left: 4px;
            margin-top:-4px;
          }
        }
      }
    }
    .m-header {
      display: none;
      justify-content: space-between;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      padding: 2rem 1.6rem;
      align-items: center;
      z-index: 100;
      width: 100vw;
      left: 0;
      top: 0;
      right: 0;
      position: fixed;
      .menu-open {
        background-color: #fff;
        border: 0;
        img {
          width: 2.4rem;
        }
      }
      .logo {
        img {
          width: 100px;
        }
      }
    }
    header {
      width: 100%;
      margin: 0 auto;
      height: 100px;
      z-index: 100;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      left: 0;
      top: 0;
      right: 0;
      position: fixed;
      transition: all 0.5s;

      &.fixed {
        height: 72px;
      }
      &:hover {
        height: 100px;
      }

      .header {
        position: relative;
        top: 0;
        left: 0;
        width: 90vw;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo img {
          width: 124px;
          height: 29px;
        }
        .gnb {
          ul {
            display: flex;
            align-items: center;
            li {
              cursor: pointer;
              font-weight: 600;
              width: 170px;
              text-align: center;
              &:hover {
                font-weight: 800;
              }
              a {
                position: relative;
                font-size: 2rem;
                line-height: 29px;

                button {
                  @include button;
                  background-color: #111;
                  width: 180px;
                  font-weight: 600;
                  color: #fff;
                  &:hover {
                    background-color: #ededed;
                    color: #111;
                    font-weight: 800;
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer {
      .floatingTop {
        display: block;
        position: fixed;
        width: 56px;
        height: 56px;
        margin: 0;
        right: 2%;
        bottom: 30px;
        overflow: hidden;
        z-index: 20;
        a {
          background: #fff url("../public/images/ico_arrow_up.png") no-repeat
            center;
          border: 1px solid #d8d8d8;
          width: 54px;
          height: 54px;
          float: right;
          z-index: 20;
          span {
            display: block;
            text-indent: -99999px;
          }
        }
      }
      width: 100%;
      border-top: 1px solid #dddddd;
      padding: 3vh 5vw;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.6rem;
      position: absolute;
      bottom: 0;
      left: 0;
      
      .info {
        color: #444444;
        .logo {
          background-size: 100%;
          margin-bottom: 16px;
          > img{
            padding-right: 8px ;
            margin-bottom: -8px;
            vertical-align: baseline;
          }
          button{
            color:#444;
            font-weight: 600;
            display: inline-block;
            background-color: #fff;
            font-size: 1.8rem;
            border-radius: 8px;
            padding: 4px 16px;
            border:0;
            &:hover{
              color:$primary-color;
              text-decoration: underline;
              background-color: #eee;
            }
  
            img{
              margin-top: -4px;
              padding-left: 4px;
              vertical-align: middle;
            }
          }
          
        }
      }
      .copy {
        color: #888888;
      }
    }

    @include desktop-md {
    }
    @include desktop-sm {
    }
    @include tablet {
      .m-header {
        display: flex;
      }
      header {
        display: none;
      }
    }
    @include mobile {
      .footer {
        padding: 1.6rem;
        flex-direction: column;
        text-align: center;
        font-size: 1.4rem;
        .floatingTop {
          position: fixed;
          margin: 0;
          right: 2%;
          bottom: 5%;
          overflow: hidden;
          width: 12vw;
          height: 12vw;
          a {
            background: #fff url("../public/images/ico_arrow_up_m.png")
              no-repeat center;
            background-size: 4vw auto;
            width: 12vw;
            height: 12vw;
          }
        }
        .info{
          .logo {
            display: block;
            > img{
              width: 100px;
              vertical-align: middle;
              padding-bottom:8px;
            }
            button{
              margin-top: .4rem;
              font-size: 1.4rem;
              padding:.4rem;
            }
          }
        }
        .copy {
          margin-top: 0.8rem;
        }
      }
    }
  }
}
